<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiumu.country_manager.mapper.MenuMapper">
    <!--关系映射-->
    <resultMap id="menuMap" type="menu">
        <id column="menu_id" property="menuId"></id>
        <result column="menu_name" property="menuName"></result>
        <result column="menu_path" property="menuPath"></result>
        <result column="menu_role_id" property="menuRoleId"></result>
        <result column="menu_type" property="menuType"></result>
        <result column="menu_list" property="menuList"></result>
        <association property="role" javaType="role">
            <id column="role_id" property="roleId"></id>
            <result column="role_name" property="roleName"></result>
            <result column="role_code" property="roleCode"></result>
        </association>
    </resultMap>
    <select id="getAllMenu" resultMap="menuMap">
        Select * from menu_manage
    </select>
    <select id="getMenuByRoleId" parameterType="int" resultMap="menuMap">
        Select * from menu_manage where menu_role_id=#{menuRoleId}
    </select>
    <select id="getMenuByType" parameterType="int" resultMap="menuMap">
        Select * from menu_manage where menu_type=#{menuType}
    </select>
    <select id="getMenuByList" parameterType="int" resultMap="menuMap">
        Select * from menu_manage where menu_list=#{menuList}
    </select>

</mapper>